@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Work+Sans:wght@700&display=swap");
*{

    box-sizing: border-box;
    font-family: "Poppins";
}
html{

    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
}
body{

    background-image: url(https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png);

    background-color: whitesmoke;
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 100vw;
    height: auto; */
}
#intro{

    padding-top: 25px;  
    padding-bottom: 15px;
    /* margin-left: 0px; */
    /* margin-right: 0px; */
    /* padding: 30px 5px 10px 5px; */
    /* position: absolute;  */
    /* top: 40%; */
    /* left: 50%; */
    /* display: flex; */
    /* flex-direction: column; */

    /* justify-items: center; */
    /* align-items: center; */
    color: white;
    background-color: rgb(0, 0, 0, 0.3);
    border-radius: 0px 0px 15px 15px;
    /* transform: translate(-50%, -50%); */
}
.welcome{

    font-size: 30px !important;
}
.heading{

    margin-bottom: 0px !important;
    font-size: 27px !important;
    text-align: center;
}
.quote{

    font-size: 18px !important;
}
.d-block{

    width: inherit !important;
    border: 4px solid rgb(0, 0, 0, 0.1);
    border-radius: 15px !important;
}
@media screen and (min-width: 600px) {

    .welcome{

        font-size: 33px !important;
    }
    .heading{

        font-size: 30px !important;
    }
    /* .col{

        font-s
    } */
    .quote{

        font-size: 20px !important;
    }
    .container{

        width: 600px;
    }
}
@media screen and (min-width: 1000px) {

    .welcome{

        font-size: 40px !important;
    }
    .heading{

        font-size: 35px !important;
    }
    .quote{

        font-size: 22px !important;
    }
    .container{

        width: 660px;
    }
}
@media screen and (min-width: 1500px) {

    .welcome{

        font-size: 50px !important;
    }
    .heading{

        font-size: 40px !important;
    }
    .quote{

        font-size: 25px !important;
    }
    .container{

        width: 720px;
    }
}
.quote{

    font-family: "Poppins";
    /* font-size: 30px; */
}
.carousel-inner img {

    margin: auto;
    /* border-radius: 500px; */
}
.navbar{

    font-family: "Poppins";
}
.navbar-nav > li{
    
    padding-left:30px;
    padding-right:30px;
}
#home{

    height: 96vh;
    /* margin-bottom: 70px;     */
}
.message{

    box-shadow: 2px 6px 8px 3px rgba(22, 22, 26, 0.18);
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    border: 4px solid rgb(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #a7ffeb;
}
.img-thumbnail{

    margin-right: 15px;
    height: 200px;
    float: left;
}
.message-heading{

    font-size: 30px;
}
.container{

    padding-top: 25px;
    text-align: center;
}
.name{

    font-size: 20px;
    padding-top: 12px;
}
.vision{

    box-shadow: 0px 0px 200px 10px #8888;
    justify-content: center;
    display: inline-block;
    margin-bottom: 100px;
    margin-top: 100px;
    margin-left: 15px;
    margin-right: 15px;
    border: 4px solid rgb(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #a7ffeb;
}
.vision-wrapper{

    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}
.college-staff{

    margin-top: 100px;
}
.navbar{

    background-color: rgb(0, 0, 0, 0.3);
}
.card {

    background-color: #a7ffeb;
    color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
}
.carousel-staffs{

    width: 80%;
}
.carousel-inner {

    padding: 1em;
}
@media screen and (min-width: 577px) {
    
    .card-wrapper {

        display: flex;
    }
    .card-teacher{

        margin: 0px 20px 0px 20px;
        width: calc(33.33%);
    }
    .carousel-staffs{

        width: 65%;
    }
}

.carousel-control-prev,
.carousel-control-next {

    background-color: #aaaaaa;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
.navigation{

    background-color: rgb(0, 0, 0, 0.7);
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
.card-title {

    text-align: center;
}
.card-body{

    color: black;
}
.image-wrapper{

    height: 34vh;
    width: auto;
}
.image-wrapper img{

    width: 100%;
    height: 100%;
}
.contact-us{

    padding-top: 10px;
    padding-bottom: 50px;
    background-color: #a7ffeb;
    margin-top: 100px;
}
.map{

    border: 4px solid rgb(0, 0, 0, 0.2);
    border-radius: 10px;
}
.links{

    background-color:#a7ffeb;
    font-size: 20px !important;
}
.quick-links{

    margin-top: 100px;
}
.col-md{

    padding-top: 10px;
    padding-bottom: 10px;
}
.gov{

    margin: 15px 10px 15px 10px;
}