@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Work+Sans:wght@700&display=swap");
*{

    box-sizing: border-box;
    font-family: "Poppins";
}
html{
    
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
}
body{
    
    background-image: url("https://i.pinimg.com/originals/ff/5a/a9/ff5aa9f0387f70a6bf710caeb45ee699.jpg");
    /* object-fit: fill; */
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    color: black;
    /* background-color: whitesmoke; */
}
#intro{

    padding-left: 0px;
    padding-right: 0px;
    /* padding-top: 25px;   */
    padding-bottom: 20px;
    color: black;
    /* background-color: #ffffff; */
    border-radius: 0px 0px 15px 15px;
}
.welcome{

    font-size: 30px !important;
    animation: text_reveal 0.5s ease forwards;
    animation-delay: 1s;
}
#intro::after{
    
    content: "";
}
/* .welcome::after{

}
@keyframes text_reveal {
	100% {
		color: #91b1c1;
	}
} */
.heading{
    
    margin-bottom: 0px !important;
    font-size: 27px !important;
    text-align: center;
}
.quote{

    display: inline-block;
    font-size: 18px !important;
    font-family: "Poppins";
    opacity: 0;
    filter: blur(4px);
}
.quote:nth-child(1) {
    animation: fade-in 0.8s 3.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.quote:nth-child(2) {
    animation: fade-in 0.8s 3.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.quote:nth-child(3) {
    animation: fade-in 0.8s 3.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.quote:nth-child(4) {
    animation: fade-in 0.8s 3.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.quote:nth-child(5) {
    animation: fade-in 0.8s 3.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.quote:nth-child(6) {
    animation: fade-in 0.8s 3.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.quote:nth-child(7) {
    animation: fade-in 0.8s 3.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.quote:nth-child(8) {
    animation: fade-in 0.8s 3.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.quote:nth-child(9) {
    animation: fade-in 0.8s 3.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.quote:nth-child(10) {
    animation: fade-in 0.8s 4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.quote:nth-child(11) {
    animation: fade-in 0.8s 4.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.quote:nth-child(12) {
    animation: fade-in 0.8s 4.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.quote:nth-child(13) {
    animation: fade-in 0.8s 4.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.quote:nth-child(14) {
    animation: fade-in 0.8s 4.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.quote:nth-child(15) {
    animation: fade-in 0.8s 4.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.quote:nth-child(16) {
    animation: fade-in 0.8s 4.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.quote:nth-child(17) {
    animation: fade-in 0.8s 4.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.quote:nth-child(18) {
    animation: fade-in 0.8s 4.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.quote:nth-child(19) {
    animation: fade-in 0.8s 4.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.quote:nth-child(20) {
    animation: fade-in 0.8s 5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.quote:nth-child(21) {
    animation: fade-in 0.8s 5.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.d-block{

    width: inherit !important;
    border: 4px solid rgb(0, 0, 0, 0.1);
    border-radius: 15px !important;
}
.gov-wrapper{

    width: 370px;
}
.gov{

    width: 160px;
}
@media screen and (min-width: 600px) {

    .welcome{

        font-size: 33px !important;
    }
    .heading{

        font-size: 30px !important;
    }
    .quote{

        font-size: 20px !important;
    }
    .container-small{

        width: 600px;
    }
    .gov{

        width: 200px;
    }
}
@media screen and (min-width: 1000px) {

    .welcome{

        font-size: 40px !important;
    }
    .heading{

        font-size: 35px !important;
    }
    .quote{

        font-size: 22px !important;
    }
    .container-small{

        width: 660px;
    }
    .gov{

        width: 200px;
    }
}
@media screen and (min-width: 1500px) {

    .welcome{

        font-size: 50px !important;
    }
    .heading{

        font-size: 40px !important;
    }
    .quote{

        font-size: 25px !important;
    }
    .container-small{

        width: 720px;
    }
    .gov{

        width: 200px;
    }
}
.carousel-inner img {

    /* padding: 0px; */
    margin: auto;
    /* border-radius: 500px; */
}
.navbar{

    font-family: "Poppins";
}
.navbar-nav > li{
    
    padding-left:30px;
    padding-right:30px;
}
#home{

    height: 100vh;
    /* margin-bottom: 70px;     */
}
.message{

    box-shadow: 2px 6px 8px 3px rgba(22, 22, 26, 0.18);
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    /* text-align: center; */
    border: 4px solid rgb(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #a1dca2;
    color: transparent;
    animation: text_reveal 2s ease forwards;
    animation-delay: .5s;
}
.img-thumbnail{

    margin-right: 15px;
    height: 200px;
    float: left;
}
.message-heading{

    font-size: 30px;
}
.container{

    padding-top: 25px;
    /* text-align: center; */
}
.name{

    font-size: 20px;
    padding-top: 12px;
}
.vision{

    box-shadow: 0px 0px 200px 10px #8888;
    /* justify-content: center; */
    /* display: inline-block; */
    margin-bottom: 100px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border: 4px solid rgb(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #fcbb77;
}
.vision-wrapper{

    margin-top: 100px;
    margin-bottom: 50px;
    /* text-align: center; */
}
.college-staff{

    margin-top: 100px;
}
.navbar{

    color: black;
    /* background-color: white; */
}
.card {

    background-color: #a1dca2;
    color: black;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
}
.carousel-staffs{

    width: 80%;
}
.carousel-inner {

    padding: 1em;
}
.card-teacher{

    background-color: #a1dca2;
}
@media screen and (min-width: 577px) {

    
    .card-wrapper {

        display: flex;
    }
    .card-teacher{

        margin: 0px 20px 0px 20px;
        width: calc(33.33%);
    }
    .carousel-staffs{

        width: 65%;
    }
}

.carousel-control-prev,
.carousel-control-next {

    background-color: #aaaaaa;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
.navigation{

    background-color: rgb(0, 0, 0, 0.7);
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
.card-title {

    text-align: center;
}
.up{

    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://i.pinimg.com/originals/ff/5a/a9/ff5aa9f0387f70a6bf710caeb45ee699.jpg");
}
.card-body{
 
    color: black;
    padding: 10px 0px 0px 0px;
}
.image-wrapper{

    height: 34vh;
}
.dios{
    
    height: 45vh;
}
@media screen and (max-width: 577px){

    .dios{
    
        height: 54vh;
    }
    .logo{
        
        height: 20vh;
    }
}
.image-wrapper img{

    width: 100%;
    height: 100%;
}
.contact-us{

    padding-top: 10px;
    padding-bottom: 50px;
    background-color: #fcbb77;
    margin-top: 100px;
}
.map{

    border: 4px solid rgb(0, 0, 0, 0.2);
    border-radius: 10px;
}
.links{

    font-size: 20px !important;
    border-radius: 7px;
    padding: 10px;
    box-shadow: 10px 6px 8px 0px rgba(22, 22, 26, 0.18);
}
.links:hover{

    background-color: #ffff;
}
.quick-links{

    background-color: #a1dca2;
    margin-top: 100px;
}
.col-md{

    padding-top: 10px;
    padding-bottom: 10px;
}
.gov{

    margin-left: 0px;
    margin-right: 0px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.image-wrapper-gall{

    height: 30vh;
}
.image-wrapper-gall img{

    width: 100%;
    height: 100%;
}
.row{

    padding-left: 5px;
    padding-right: 5px;
}
.gallery{

    margin-top: 100px; 
    background-color: #fcbb77;
}
#about-us{

    margin-top: 100px;
}
.government{

    margin-top: 100px;
}
.welcome{
    
    display: inline-block;
    position: relative;
    color: transparent;
    animation: text_reveal 1s ease forwards;
    animation-delay: 2s;
}
.text-reveal-span{
    
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    width: 0;
    background-color: #ffffff;
    animation: overlay 2s ease forwards;
    animation-delay: 1s;
}
@keyframes overlay {
    
    50%{

        width: 100%;
        left: 0;       
    }
    100%{

        width: 0;
        left: 100%;
    }
}
@keyframes text_reveal {
    
    100%{

        color: black;
    }
}
.animate-character {

    background-image: linear-gradient(-225deg,
            white 0%,
            orange 29%,
            white 67%,
            green 100%);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 3s linear infinite;

    background-color: white'
}
@keyframes textclip {
    to {
        background-position: 200% center;
    }
}
@keyframes fade-in {
    100% {
        opacity: 1;
        filter: blur(0);
    }
}